<div class="container">

    <form class="row" (submit)="cadastrar($event)"><!--event binding -->
        <div class="col-md-6">
            <div class="form-group">
                <label>Título</label>
                <!--two way databinding -->
                <!-- fomrma menos verbosa de two-way-data-binding, o atributo name é necessario -->
                <input name="titulo" [(ngModel)]="foto.titulo" class="form-control"  autocomplete="off">    
            </div>
            <div class="form-group">
                <label>URL</label>
                 <!--two way databinding -->
                <input name="url" [(ngModel)]="foto.url" class="form-control"  autocomplete="off">
            </div>
            <div class="form-group">
                <label>Descrição</label>
                 <!--two way databinding -->
                <textarea name="descricao" [(ngModel)]="foto.descricao" class="form-control"  autocomplete="off">
                </textarea>
            </div>

            <button type="submit" class="btn btn-primary">
                Salvar
            </button>
             <a [routerLink]="['']" class="btn btn-primary">Voltar</a>
            <hr>
        </div>
    </form>
</div>